*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    padding: 50px;
}
.row-style{
    display: flex;
    justify-content: space-between;
}