*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    padding: 20px;
}
.row-style-1{
    display: flex;
    justify-content: center;
}
.row-style-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row-style-3{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}