<div class="nav-bar">
    <div class="start-section">
        <span class="material-symbols-outlined apps-style">apps</span>
        <div class="logo"></div>
        <div class="line"></div>
        <span class="material-symbols-outlined search" (click)="takeSearchBar()"> search</span>
        <span class="material-symbols-outlined"> sell</span>
    </div>
    <ul class="middle-content">
        <li (click)="highLight1()" [ngClass]="{'highLight':dynamic1}" routerLink=""><a #notebook> Notebooks </a></li>
        <li (click)="highLight2()" [ngClass]="{'highLight':dynamic2}" routerLink="/allnotes"><a #allnotes> All Notes </a></li>
        <li (click)="highLight3()" [ngClass]="{'highLight':dynamic3}" routerLink="/favorite"><a #favorite> Favorites </a></li>
        <li (click)="highLight4()" [ngClass]="{'highLight':dynamic4}" routerLink="/shared"><a #shared> Shared </a></li>
    </ul>
    <div class="end-section">
        <div class="end-content">
            <span class="material-symbols-outlined edit" ToolTip="Button" position="bottom" (click)="takePageEditor()"> edit_square </span>
            <span class="material-symbols-outlined edit"> photo_camera </span>
            <span class="material-symbols-outlined edit"> check_box </span>
            <span class="material-symbols-outlined edit"> more_horiz </span>
        </div>
        <div class="profile">
            <img src="assets/profile.jpg" alt="profile">
        </div>
    </div>
</div>

