<div class="content-container">
    <div class="content">
        <div class="content-start">
            <span class="material-symbols-outlined arrow" routerLink=""> arrow_back </span>
            <h1> {{data.renderValue.bookName}}</h1>
        </div>
        <div class="content-end">
            <div class="name">
                <span class="material-symbols-outlined"> sort </span>
                <p class="tyopography"> Name </p>
             </div>
             <div class="add-notebook">
                <span class="material-symbols-outlined"> filter_alt </span>
                <p class="tyopography"> Filter </p>
             </div>
        </div>
    </div>
    <div class="quote">
        <div class="author">
            <div class="quote-typography"> It's so fine and yet so terrible to stand in front of a blank canvas. </div>
        </div>
        <div class="author">
            <div class="author-typo"> - Paul Cezanne </div>
        </div>
    </div>
    <div class="each-note-container">
        <div class="note-book">
            <app-each-note></app-each-note>
        </div>
    </div>
</div>
