<div class="book-container">
    <div class="book-content">
        <div class="book-img">  
            <div style="background-image: url({{imagePath}});" class="img-style" (click)="openNote()" routerLink="/pages/{{no.bookName}}" appHover>
                <span class="material-symbols-outlined option" ToolTip="Options" position="right" > more_horiz </span>
            </div>
        </div>
        <div class="book-title" contenteditable="true" (keydown.enter)="editBookTitle()" #bookTitle>{{no.bookName}}</div>
    </div>
</div>
