*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sticky{
    position: sticky;
    top: 0;
    left: 0;
}
html,body{
    font-size: 10px;
    font-family: sans-serif;
}
.flickr-flex{
    display: flex;
}
.flickr-grid{
    display: grid;
}
.flickr-center{
    align-items: center;
}
.flickr-justify-center{
    justify-content: center;
}
.flickr-justify{
    justify-content: space-between;
}
.flickr-width{
    /* width: 100vw; */
}
.flickr-contentWidth{
    width: 83%;
    margin-left: auto;
    margin-right: auto;
}
.flickr-gap{
    gap: 3rem;
}
.flickr-common-gap{
    gap: 2.5rem;
}
.nav-background{
    background-color: rgba(21,21,23,.95)
}
.nav-color{
    color: #fff;
}
.nav-fontSize{
    font-size: 1.5rem;
}
.logo-dimension{
    width: 7rem;
    object-fit: contain;
}
.logo-align{
    margin-left: -1.8rem;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
.search-box{
    width: 36rem;
    background-color: hsla(0,0%,100%,.8);
    border-radius: 0.2rem;
}
input{
    background-color: transparent;
    border: none;
    outline: none;
    padding: .9rem;
    padding-left: 2rem;
}
.search-icon{
    padding-left: 1rem;
    pointer-events: none;
}
.cloud-upload{
    background-position: -411px -448px;
}
.sign-up-btn{
    background-color: #128fdc;
    padding: .7rem 1.7rem;
    border: none;
    font-weight: bold;
    border-radius: .2rem;
}
.add-background{
    background-color: #fff;
}
.menu-list{
    border-bottom: .1rem solid hsla(0,0%,54%,.3);
    background-color: #fff;
}
.menu-list-align{
    padding-left: 2.5rem;
}
.menu-list-color{
    color: #000;
    font-size: 12pt;
}
.menu-list li{
    padding: 1.0rem 1.5rem;
}
.menu-list li:hover{
    border-bottom: .3rem solid #0091dc;
}
.menu-list-ul{
    gap: 1rem;
}
.menu-list-li{
    border-bottom: .3rem solid #0091dc;
}
.empty{
    padding: 2rem;
}
.color-box{
    gap: .5rem;
}
.color-box-style{
    display: inline-block;
    border-radius: .3rem;
    cursor: pointer;
    width: 2.0rem;
    height: 2.0rem;
}
.color-box-style:nth-child(13){
    border: .1rem solid black;
}
.color-box-red{
    background-color: #ff2000;
}
.color-box-brown{
    background-color: #a24615;
}
.color-box-orange{
    background-color: #ff7c00;
}
.color-box-palepink{
    background-color: #ff9f9c;
}
.color-box-yellow{
    background-color: #fffa00;
}
.color-box-yellowschool{
    background-color: #ffcf00;
}
.color-box-green{
    background-color: #90e200;
}
.color-box-darkgreen{
    background-color: #00ab00;
}
.color-box-skyblue{
    background-color: #00b2d4;
}
.color-box-blue{
    background-color: #0062c6;
}
.color-box-voilet{
    background-color: #8c20ba;
}
.color-box-pink{
    background-color: #f52394;
}
.color-box-white{
    background-color: #ffffff;
}
.color-box-gray{
    background-color: #7c7c7c;
}
.color-box-black{
    background-color: #000000;
}
.black-white{
    background-position: -381px -448px;
}
.theme-background{
    background-image: url(../media/icons@2x-0fdea6e9.png);
    width: 3.2rem;
    height: 2.0rem;
    background-size: 557px 528px;
}
.shallow-depth{
    background-position: -282px -448px;
}
.minimalist{
    background-position: -315px -448px;
}
.pattern{
    background-position: -348px -448px;
}
.advanced-btn{
    background-image: url(../media/icons@2x-0fdea6e9.png);
    width: 2.0rem;
    height: 1.6rem;
    background-size: 557px 528px;
    background-position: -405px -317px;
}
.advanced{
    color: #898989;
    font-size: 1.4rem;
}
.toggle-advanced{
    gap: .9rem;
}
.sort-box{
    background-color: #f3f5f6;
}
.license{
    padding: 1.0rem;
}
.share{
    padding-top: .3rem;
}
.view{
    background-image: url(../media/icons@2x-0fdea6e9.png);
    background-size: 557px 528px;
    background-repeat: no-repeat;
}
.thumbnail{
    width: 1.6rem;
    height: 1.6rem;
    background-position: -221px -512px;
}
.justified{
    width: 1.8rem;
    height: 1.6rem;
    background-position: -170px -477px;
}
.title-view{
    width: 1.8rem;
    height: 1.6rem;
    background-position: -227px -477px;
}
.main-content-start{
    padding-top: 3rem;
    padding-left: 1rem;
}
.header-font{
    padding: 1rem 0rem;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
}
.view-all{
    color: #006dac;
}
.photo-gallery{
    grid-template-rows: repeat(2,192px) repeat(2,254px) repeat(2,221px) repeat(2,270px) repeat(2,180px) repeat(2,250px);
    grid-template-columns: repeat(80,1fr);
}
.main-content{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-row-one{
    grid-row: 1/2;
}
.img-row-two{
    grid-row: 2/3;
}
.img-row-three{
    grid-row: 3/4;
}
.img-row-four{
    grid-row: 4/5;
}
.img-row-five{
    grid-row: 5/6;
}
.img-row-six{
    grid-row: 6/7;
}
.img-row-seven{
    grid-row: 7/8;
}
.img-row-eight{
    grid-row: 8/9;
}
.img-row-nine{
    grid-row: 9/10;
}
.img-row-ten{
    grid-row: 10/11;
}
.img-row-eleven{
    grid-row: 11/12;
}
.img-row-twelve{
    grid-row: 12/-1;
}
.img-one{
    grid-column: 1/15;
}
.img-two{
    grid-column: 15/30;
}
.img-three{
    grid-column: 30/40;
}
.img-four{
    grid-column: 40/50;
}
.img-five{
    grid-column: 50/70;
}
.img-six{
    grid-column: 70/81;
}
.img-seven{
    grid-column: 1/20;
}
.img-eight{
    grid-column: 20/45;
}
.img-nine{
    grid-column: 45/60;
}
.img-ten{
    grid-column: 60/-1;
}
.img-eleven{
    grid-column: 1/12;
}
.img-twelve{
    grid-column: 12/36;
}
.img-thirteen{
    grid-column: 36/48;
}
.img-fourteen{
    grid-column: 48/60;
}
.img-fifteen{
    grid-column: 60/70;
}
.img-sixteen{
    grid-column: 70/81;
}
.img-seventeen{
    grid-column: 1/20;
}
.img-eighteen{
    grid-column: 20/40;
}
.img-nineteen{
    grid-column: 40/60;
}
.img-twenty{
    grid-column: 60/81;
}
.img-twenty-one{
    grid-column: 1/30;
}
.img-twenty-two{
    grid-column: 30/60;
}
.img-twenty-three{
    grid-column: 60/81;
}
.img-twenty-four{
    grid-column: 1/25;
}
.img-twenty-five{
    grid-column: 25/50;
}
.img-twenty-six{
    grid-column: 50/60;
}
.img-twenty-seven{
    grid-column: 60/81;
}
.img-twenty-eight{
    grid-column: 1/15;
}
.img-twenty-nine{
    grid-column: 15/30;
}
.img-thirty{
    grid-column: 30/45;
}
.img-thirty-one{
    grid-column: 45/60;
}
.img-thirty-two{
    grid-column: 60/81;
}
.img-thirty-three{
    grid-column: 1/30;
}
.img-thirty-four{
    grid-column: 30/50;
}
.img-thirty-five{
    grid-column: 50/81;
}
.img-thirty-six{
    grid-column: 1/10;
}
.img-thirty-seven{
    grid-column: 10/20;
}
.img-thirty-eight{
    grid-column: 20/30;
}
.img-thirty-nine{
    grid-column: 30/40;
}
.img-fourty{
    grid-column: 40/50;
}
.img-fourty-one{
    grid-column: 50/60;
}
.img-fourty-two{
    grid-column: 60/70;
}
.img-fourty-three{
    grid-column: 70/81;
}
.img-fourty-four{
    grid-column: 1/20;
}
.img-fourty-five{
    grid-column: 20/40;
}
.img-fourty-six{
    grid-column: 40/50;
}
.img-fourty-seven{
    grid-column: 50/60;
}
.img-fourty-eight{
    grid-column: 60/81;
}
.img-fourty-nine{
    grid-column: 1/30;
}
.img-fifty{
    grid-column: 30/50;
}
.img-fifty-one{
    grid-column: 50/60;
}
.img-fifty-two{
    grid-column: 60/70;
}
.img-fifty-three{
    grid-column: 70/81;
}
.img-fifty-four{
    grid-column: 1/10;
}
.img-fifty-five{
    grid-column: 10/30;
}
.img-fifty-six{
    grid-column: 30/50;
}
.img-fifty-seven{
    grid-column: 50/60;
}
.img-fifty-eight{
    grid-column: 60/70;
}
.img-fifty-nine{
    grid-column: 70/81;
}
.img-fifty-sixty{
    grid-column: 70/81;
}
.load-more{
    padding-top:40px;
    padding-bottom: 80px;
}
.load-more-style{
    padding: 10px 18px;
    font-weight: 600;
    border-radius: 3px;
    border: none;
    background-color: #979ea2;
    font-size: 1.6rem;
}
footer{
    background-color: #212124;
}
.footer-menu{
    padding: 1.6rem 0;
}
.footer-content{
    width: 55%;
}
.footer-menu li a{
    font-size: 1.4rem;
    color: #fff;
}
.footer-last-content{
    padding: 18px 0px;
    color: hsla(0,0%,100%,.6);
    font-size: 1.4rem;
    border-top: 1px solid #38383a;;
}
.footer-icon{
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}





