<div class="page-full-section" (click)="removeEditor()">
    <div class="page-writer" (click)="$event.stopPropagation()" [ngStyle]="{'background-color':data.colorsArr[data.bgColor]}">
        <div class="title-container">
                <span></span>
                <div class="titlebar placeholder" *appPlaceHolder contenteditable="true" #input (keydown)="removeClass()"></div>
                <span class="material-symbols-outlined close-style" > check </span>
        </div>
        <div class="editor-menu-list">
            <div class="menu-container">
                <span class="material-symbols-outlined text"> text_format </span>
                <span class="material-symbols-outlined text"> subject </span>
                <div class="indent-style">
                    <span class="material-symbols-outlined"> format_indent_increase </span>
                    <span class="material-symbols-outlined"> format_indent_decrease </span>
                </div>
                <div class="indent-style">
                    <span class="material-symbols-outlined"> format_list_bulleted </span>
                    <span class="material-symbols-outlined"> format_list_numbered</span>
                </div>
                <span class="material-symbols-outlined"> check_box </span>
                <span class="material-symbols-outlined"> data_object</span>
                <span class="material-symbols-outlined text"> add_link </span>
            </div>
        </div>
        <div class="page-content-container">
            <div class="page-content" contenteditable="true"></div>
        </div>
        <div class="note-option-container">
            <div class="note-option">
                <span class="material-symbols-outlined text"> spellcheck </span>
                <span class="material-symbols-outlined text"> format_color_fill </span>
            </div>
        </div>
    </div>
</div>
