*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
html{
    font-family: sans-serif;
}
.container{
    padding: 10px;
}
.path-flex{
    display: flex;
}
.path-align{
    align-items: center;
}
.path-justify{
    justify-content: space-between;
}
.path-gap{
    gap: 10px;
}
.path-direction{
    flex-direction: column;
}
.pathFinder{
    padding: 20px;
    width: 500px;
    height: 600px;
    border: 1px solid black;
}
.path-way{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    padding: 5px;
}
.input-box{
    padding: 10px 10px;
    outline: none;
    font-size: 16px;
}
.search-btn{
    /* width: 100px; */
    /* height: 30px; */
    background-color: green;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    color: white;
    padding: 10px 20px;
}
.detail-style{
    width: 300px;
    height: 120px;
    border: 1px solid black;
    padding: 10px;
}
.value-style{
    color: red;
}
.biller{
    width: 500px;
    height: 300px;
    padding: 10px;
    border: 1px solid black;
}
.hide{
    display: none;
}
.total-box{
    width: 100px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid black;
}
.racksView{
    position: relative;
    width: 400px;
    height: 400px;
}
.rack-common-style{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    /* grid-template-columns: repeat(3,1fr); */
    border: 5px solid #001D6E;
    background-color: #C4DDFF;
    position: absolute;
}
.rack1{
    transform: translate(-100px,350px);
    z-index: 10;
}
.rack2{
    transform: translate(-80px,330px);
    z-index: 9;
}
.rack3{
    transform: translate(-60px,310px);
    z-index: 8;
}
.rack4{
    transform: translate(-40px,290px);
    z-index: 7;
}
.rack5{
    transform: translate(-20px,270px);
    z-index: 6;
}
.rack6{
    transform: translate(0px,250px);
    z-index: 5;
}
.rack7{
    transform: translate(20px,230px);
    z-index: 4;
}
.rack8{
    transform: translate(40px,210px);
    z-index: 3;
}
.shelf-layout{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}
.shelf-common-style{
    border-bottom: 5px solid #001D6E;
}
.container-common-style{
    outline: 5px solid #001D6E;
}
.text-style{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
}
.highlightColor{
    background-color: green;
}
.blink{
    animation: blink 1s steps(5,start) infinite;
    background-color: red;
}
@keyframes blink {
    to{
        visibility: hidden;
    }
}
.medicineList{
    width: 400px;
    height: 900px;
    /* background-color: red; */
}
.table{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    border: 1px solid black;
}
.blur{
    /* opacity: 0.05;
    transition: 0.5s; */
    animation: slider 1s linear 0s 1 normal both;
}
@keyframes slider{
    0% {
        transform: translateZ(1);
        opacity: 1;
    }
    100%{
        transform: translateZ(1000px);
        opacity: 0;
    }
}
.visible{
    opacity: 1;
}