*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.common-gap{
    gap: 7px;
}
.pharmacy-flex{
    display: flex;
}
.pharmacy-center{
    align-items: center;
}
.pharmacy-justify-center{
    justify-content: center;
}
.pharmacy-justify-spacebetween{
    justify-content: space-between;
}
.pharmacy-grid{
    display: grid;
}
.path-direction{
    flex-direction: column;
}
.input-box{
    padding: 10px 10px;
    outline: none;
    font-size: 16px;
}
.search-btn{
    background-color: green;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    color: white;
    padding: 10px 20px;
}
.content{
    width: 100%;
    height: 100%;
    position: relative;
}
.layouting{
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1.2fr;
}
.layer-1{
    z-index: 100;
}
.layer-2{
    z-index: 99;
}
.layer-3{
    z-index: 98;
}
.layer-4{
    z-index: 97;
}
.layer-5{
    z-index: 96;
}
.layer-6{
    z-index: 95;
}
.layer-7{
    z-index: 94;
}
.layer-8{
    z-index: 93;
}
.rack-1{
    transform: translate3d(0px,0px,0px);
}
.rack-2{
    transform: translate3d(4px,0px,-150px);
}
.rack-3{
    transform: translate3d(8px,0px,-300px);
}
.rack-4{
    transform: translate3d(12px,0px,-450px);
}
.rack-5{
    transform: translate3d(16px,0px,-600px);
}
.rack-6{
    transform: translate3d(20px,0px,-750px);
}
.rack-7{
    transform: translate3d(24px,0px,-900px);
}
.rack-8{
    transform: translate3d(28px,0px,-1050px);
}
.scene{
    width: 830px;
    height: 600px;
    position: absolute;
    perspective-origin: right;
    perspective: 1200px;
}
.cuboid{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}
.cuboid-common-face{
    position: absolute;
    perspective: 200px;
}
.rack-background{
    background-color: #DDDDDD;;
}
.front{
    width: 400px;
    height: 600px;
    transform: rotateY(0deg) translateZ(50px);
    display: grid;
    grid-template-rows: repeat(3,1fr);
}
.back{
    width: 400px;
    height: 600px;
    transform: rotateY(180deg) translateZ(50px);
    border: 2px solid black;
}
.right{
    width: 100px;
    height: 600px;
    border: 2px solid black;
    transform: rotateY(90deg) translateZ(350px);
}
.left{
    width: 100px;
    height: 600px;
    border: 2px solid black;
    transform: rotateY(-90deg) translateZ(50px);
}
.top{
    width: 400px;
    height: 100px;
    border: 2px solid black;
    transform: rotateX(90deg) translateZ(50px);
}
.bottom{
    width: 400px;
    height: 100px;
    border: 2px solid black;
    transform: rotateX(-90deg) translateZ(550px);
}
.child{
    outline: 2px solid #06113C;
}
.shelf{
    outline: 2px solid #06113C;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.container{
    outline: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #86d2fd;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
.search-container{
    width: 95%;
    padding: 20px;
    height: auto;
    border: 2px solid black;
    gap: 30px;
}
.path-way{
    width: 400px;
    height: 50px;
    border: 1px solid black;
    padding: 5px;
}
.detail-style{
    width: 300px;
    height: 120px;
    border: 1px solid black;
    padding: 10px;
}
.value-style{
    color: red;
}
.biller{
    width: 95%;
    height: 300px;
    padding: 10px;
    border: 2px solid black;
}
.total-box{
    width: 100px;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid black;
}
.interFace{
    padding: 20px;
    gap: 20px;
}
.hide{
    display: none;
}
.visible-one{
    opacity: 1;
}
.hide-one{
    animation: slider 1s linear both;
}
@keyframes slider{
    0% {
        transform: translateZ(1);
    }
    100%{
        transform: translateZ(2000px);
    }
}
.high-light-color{
    background-color:  #dea7d3;
}
.blink{
    animation: blink 1s steps(5,start) infinite;
    background-color: red;
}
@keyframes blink {
    to{
        visibility: hidden;
    }
}
.table-container{
    overflow-y: scroll;
    margin: 18px;
    background-color: #dde5b6;
    display: grid;
    grid-template-rows: auto 1fr;
}
.table-header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    padding: 15px 2px;
}
.table-body{
    display: grid;
    grid-template-rows: auto;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid black;
}
.detail{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.medicine-list-section{
    width: 70%;
    height: 90vh;
    grid-template-rows: auto 1fr;
    padding: 15px 0px;
}
.med-list-btn{
    padding: 5px 20px;
}